* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.1rem;
}

.urna-box {
  background-color: rgb(227, 227, 227);
  padding: 1.7rem;
  display: flex;
  gap: 2rem;
  margin: auto;
  margin-top: 20vh;
  width: 900px;
}

.left-side {
  width: auto;
  background-color: rgb(243, 243, 243);
  border: 1px solid black;
}

.expli {
  width: 100%;
  border-top: 5px solid black;
  margin-top: 1.8rem;
  font-size: 1rem;
  margin-bottom: 5px;
}

.tittle-expli {
  font-size: 1rem;
  margin-top: 5px;
}

.text-expli {
  margin-left: 2rem;
  margin-top: .2rem;
}

.img-box {
  display: flex;
  gap: 7rem;
}

.left-mini-box {
  display: flex;
  flex-direction: column;
  gap: 1.3rem;
}

.blank-img {
  display: flex;
  align-items: center;
  gap: 1.2rem;
}

.img-box-tittle {
  font-size: 1rem;
  margin-top: 5px;
  text-transform: uppercase;
  font-weight: bolder;
}

.text-ocupacao {
  text-align: center;
  margin-left: 5rem;
  margin-bottom: .6rem;
  font-weight: bold;
  letter-spacing: 1px;
}

.input-box {
  display: flex;
  gap: .6px;
}

.input {
  width: 40px;
  padding: 5px;
  font-size: 1.5rem;
  height: 45px;
  text-align: center;
  border: 1px solid black;
}

.input:hover {
  border: 1px solid black;
}

.input:focus {
  outline: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.text {
  width: 80px;
}

.img-mini-box {
  width: 160px;
  height: 180px;
  background-color: rgb(210, 210, 210);
}

.numbers-box {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(4, 1fr);
  grid-gap: .8rem;
  transform: scale(1.1);
}

#btn-zero {
  display: grid;
  grid-column-start: 2;
}

.btn-number {
  width: 60px;
  height: 40px;
  border-radius: 3px;
  font-size: 1.5rem;
  text-align: left;
  padding-left: 9px;
  cursor: pointer;
  border: none;
  background-color: rgb(52, 52, 52);
  color: white;
  box-shadow: 0 -3px 1px rgb(39, 39, 39);
}

.btn-number:active {
  background-color: rgb(46, 46, 46);
  box-shadow: 0 -3px 1px rgb(24, 24, 24);
  transform: scale(.95);
  transition: .1s;
}

.buttons-box {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 1rem;
  gap: .5rem;
}

.btn-action {
  width: 130px;
  height: 40px;
  border-radius: 3px;
  border: none;
  font-size: 1.2rem;
  cursor: pointer;
}

#confirmar {
  height: 60px;
  margin-bottom: 20px;
  background-color: rgb(99, 179, 99);
  box-shadow: -3px -3px 1px rgb(67, 130, 67);
}

#confirmar:active {
  background-color: rgb(76, 149, 76);
  box-shadow: -3px -3px 1px rgb(52, 103, 52);
  transform: scale(.95);
  transition: .1s;
}

#corrige {
  background-color: #d5883c;
  box-shadow: 0 -3px 1px #b27232;
}

#corrige:active {
  transform: scale(.95);
  background-color: #b97734;
  box-shadow: 0 -3px 1px #945f2a;
  transition: .1s;
}

#branco {
  background-color: rgb(228, 228, 228);
  box-shadow: 2px -2px 1px rgb(203, 203, 203);
}

#branco:active {
  background-color: rgb(214, 214, 214);
  box-shadow: 2px -2px 1px rgb(172, 172, 172);
  transition: .1s;
  transform: scale(.95);
}

.separator {
  width: 330px;
  background-color: rgb(75, 75, 75);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  padding-top: 40px;
}

.img-urna {
  position: relative;
  width: 100%;
  height: 100%;
}

.justica-eleitoral {
  background-color: white;
  width: 100%;
  margin-bottom: 10px;
  display: flex;
  padding: 5px 0;
  align-items: center;
  justify-content: space-around;
}

.eleitoral-img {
  width: 100px;
}

.text-eleitoral {
  text-align: center;
  text-transform: uppercase;
}